@page "/Events"
@model CA2_Nicolai_de_Groot.Pages.EventsModel

@{
    ViewData["Title"] = "Event Displayer : Events";
}

<main class="content-wrapper">
    <div class="container">

        <div class="section-header">
            <h2>All Events</h2>
            <span>text...</span>
        </div>

        <div class="projects">
            @foreach (var ev in Model.Events)
            {
                <div class="project">
                    <h3>@ev.Title</h3>
                    <p>@ev.Description</p>
                    <p><strong>Venue:</strong> @ev.VenueName</p>
                </div>
            }
        </div>

    </div>
</main>
