@page "/Venues"
@model CA2_Nicolai_de_Groot.Pages.VenuesModel

@{
    ViewData["Title"] = "Event Displayer : Venues";
}

<main class="content-wrapper">
    <div class="container">

        <div class="section-header">
            <h2>All Venues</h2>
            <span>text...</span>
        </div>

        <div class="projects">
            @foreach (var venue in Model.Venues)
            {
                <div class="project">
                    <h3>@venue.Name</h3>
                    <p><strong>Address:</strong> @venue.Address</p>
                    <p><strong>Events:</strong> @venue.Events.Count</p>
                </div>
            }
        </div>

    </div>
</main>