@page "/Venues"
@model CA2_Nicolai_de_Groot.Pages.VenuesModel

@{
    ViewData["Title"] = "Event Displayer : Venues";
}

<main class="content-wrapper">
    <div class="container">

        <div class="section-header">
            <h2>All Venues</h2>
            <span>text...</span>
        </div>

        <div class="projects">
            <div class="project">
                <h3>Venue One</h3>
                <p>Description of venue one.</p>
            </div>
        </div>

    </div>
</main>