@{
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
}

<header class="events-header">
    <div class="top-header">
        <div class="logo">
            <h1><em>Event</em> Displayer</h1>
        </div>

        <div class="authentication">
            @if (User.Identity?.IsAuthenticated == true)
            {
                <span>
                    Hi, @User.FindFirst("name")?.Value
                </span>
                <span> | </span>
                <a href="/logout">Logout</a>
            }
            else
            {
                <a href="/login">Login</a>
            }
        </div>
    </div>

    <div class="main-header">
        <ul class="menu">
            <li class="@(currentPage == "/" ? "active" : "")">
                <a href="/">Home</a>
            </li>
            <li class="@(currentPage == "/Venues" ? "active" : "")">
                <a href="/Venues">Venues</a>
            </li>
            <li class="@(currentPage == "/Events" ? "active" : "")">
                <a href="/Events">Events</a>
            </li>
        </ul>
    </div>
</header>
